body {
    background: #FFFDFD;
}

section {
    position: relative;
}

.lp-section-padding {
    padding: 80px 0;

    @media (max-width: 991px) {
        padding: 60px 0;
    }

    @media (max-width: 768px) {
        padding: 40px 0;
    }
}

.section-title {
    text-align: center;
    margin-bottom: 60px;

    @media (max-width: 768px) {
        margin-bottom: 40px;
    }

    &.text-left {
        text-align: left;

        h2 {
            text-align: left;
        }

        p {
            text-align: left;
        }
    }

    .title-tag {
        padding: 4px 16px;
        border-radius: 15px;
        background: var(--white);
        display: inline-flex;
        align-items: center;
        column-gap: 6px;
        border: 1px solid var(--border_color);
        margin-bottom: 20px;

        .blue-dot {
            width: 7px;
            height: 7px;
            border-radius: 100%;
            background: var(--button_color);
        }

        .text {
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            color: var(--black);
        }
    }

    h2 {
        font-weight: 500;
        font-size: 60px;
        line-height: 110%;
        letter-spacing: -4%;
        text-align: center;

        @media (max-width: 1024px) {
            font-size: 40px;
        }

        @media (max-width: 768px) {
            font-size: 30px;
        }

        .green {
            color: var(--primary-color);
        }
    }

    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        text-align: center;
        color: var(--paragaraph);
        margin-bottom: 0;
        margin-top: 20px;

        @media (max-width: 768px) {
            margin-top: 10px;
        }
    }

    .primary-btn {
        margin-top: 30px;

        @media (max-width: 1024px) {
            margin-top: 20px;
        }
    }

    &.white-bg {
        h2 {
            color: var(--black);
        }

        p {
            color: var(--paragaraph);
        }
    }

    &.dark-bg {
        .title-tag {
            background: var(--paragaraph);

            .text {
                color: var(--white);
            }
        }

        h2,
        p {
            color: var(--white);
        }
    }
}


/* =========================
    Header Area start
========================= */

.header-area {
    background-color: transparent;
    padding: 12px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: all 1.5s cubic-bezier(0.16, 1, 0.3, 1);
    background: transparent;

    &.header-fixed {
        background: var(--white);
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            position: relative;
            z-index: 100;

            img {
                max-width: 240px;
            }
        }


        .menu-wrapper {
            @media (max-width: 992px) {
                position: fixed;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100vh;
                background: var(--white);
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 40px;
                padding: 100px 20px 40px;
                text-align: center;
                z-index: 99;
                clip-path: inset(0 0 100% 0);
                overflow-y: auto;
            }

            .nav-menu {
                display: flex;
                gap: 40px;
                list-style: none;

                .nav-link {
                    text-decoration: none;
                    color: var(--paragaraph);
                    transition: color 0.3s ease;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 140%;
                    padding: 0;

                    &:hover,
                    &.active {
                        color: var(--black);
                    }
                }

                @media (max-width: 992px) {
                    flex-direction: column;
                    gap: 20px;

                    li {
                        width: 100%;
                    }

                    .nav-link {
                        color: var(--black);
                        display: inline-block;
                        opacity: 0;
                        visibility: hidden;
                        will-change: transform, opacity;
                    }
                }
            }
        }
    }


    .nav-actions {
        display: flex;
        align-items: center;
        gap: 36px;
        position: relative;
        z-index: 100;
    }

    .desktop-actions {
        display: flex;
        align-items: center;
        gap: 36px;

    }

    .nav-actions-mobile {
        display: none;

        @media (max-width: 992px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            opacity: 0;
            visibility: hidden;
            will-change: transform, opacity;
        }
    }

    .desktop-actions {
        @media (max-width: 991px) {
            display: none;
        }
    }

    .lang-selector-dropdown {
        .dropdown-toggle {
            border: none;
            outline: none;
            background: transparent;
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            color: var(--black);


            img {
                width: 24px;
                height: 24px;
                object-fit: cover;
            }

            &::after {
                content: "";
                display: inline-block;
                width: 12px;
                height: 12px;
                background-color: currentColor;
                // This is a standard Chevron Down SVG path
                mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><polyline points='6 9 12 15 18 9'></polyline></svg>") no-repeat center;
                -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><polyline points='6 9 12 15 18 9'></polyline></svg>") no-repeat center;
                border: none;
                vertical-align: unset;
                transition: all 0.3s ease-in-out;
            }
        }

        .dropdown-menu {
            border: 1px solid var(--border_color);

            .dropdown-item {
                display: flex;
                align-items: center;
                column-gap: 8px;
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                color: var(--black);
            }
        }

        .dropdown-menu[data-bs-popper] {
            top: 40px;
        }
    }
}


.menu-toggle {
    display: none;
    flex-direction: column;
    gap: 6px;
    background: none;
    border: none;
    cursor: pointer;

    span {
        width: 30px;
        height: 2px;
        background-color: var(--black);
        transition: 0.3s;
    }

    @media (max-width: 992px) {
        display: flex;
    }
}

/* =========================
    Header Area end
========================= */
.hero-area {
    padding-top: 210px;
    position: relative;
    overflow: hidden;

    .container {
        position: relative;
        z-index: 11;
    }

    .hero-contnet {
        .title-tag {
            padding: 4px 16px 7px;
        }

        .arrow-with-image {
            display: flex;
            align-items: center;
            column-gap: 6px;
            line-height: 17px;

            .arrow {
                img {
                    max-width: 10px;
                }
            }

            .image {
                img {
                    width: 17px;
                    height: 17px;
                    object-fit: cover;
                    border-radius: 100%;
                }
            }
        }

        .hero-title {
            font-weight: 500;
            font-size: 72px;
            line-height: 110%;
            letter-spacing: -6%;
            text-align: center;
            color: var(--black);

            @media (max-width: 1024px) {
                font-size: 60px;
            }

            @media (max-width: 768px) {
                font-size: 40px;
            }

            .green {
                color: var(--primary-color);
            }
        }
    }

    .ellipse {
        position: absolute;
        z-index: -1;
        width: 200%;
        height: 200%;
        top: -131%;
        left: 50%;
        transform: translateX(-50%);
        // background: linear-gradient(2.46deg, #EEF2F0 3.83%, #E9FFF5 57.8%, #14C878 108.12%);
        background: linear-gradient(2.46deg, #EEF2F0 3.83%, #E9FFF5 10.8%, #14C878 90.12%);
        border-radius: 100%;
        z-index: 1;
    }


    .hero-slider {
        perspective: 600px;
        width: 100%;
        height: 540px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        margin-top: -100px;

        #ring {
            position: relative;
            width: 100%;
            height: 100%;
            transform-style: preserve-3d;
            user-select: none;
        }

        .slider-img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 300px;
            height: 260px;
            margin-top: -150px;
            margin-left: -150px;
            background-size: cover;
            background-position: center;
            border-radius: 12px;
            cursor: pointer;
            backface-visibility: hidden;
            -webkit-backface-visibility: hidden;
        }

        #dragger {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 10;
        }
    }

    .ellipse2 {
        width: 3254px;
        height: 1500px;
        top: 880px;
        left: -712px;
        position: absolute;
        z-index: 1;
        background: var(--white);
        border-radius: 100%;
    }
}

/* =========================
    HERO Area Start
========================= */

/* =========================
    HERO Area END
========================= */
/* =========================
    HOW IT WORK Area start
========================= */
section.how-it-work {
    .wrapper {
        background-color: var(--bg_color);
        padding: 12px;
        border-radius: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 30px;
        justify-content: space-between;
        overflow: hidden;
        position: relative;

        @media (max-width: 991px) {
            flex-direction: column-reverse;
            padding: 20px;
            gap: 20px;
        }

        @media (max-width: 768px) {
            padding: 12px;
            border-radius: 16px;
        }

        .content {
            max-width: 520px;
            padding-left: 80px;
            position: relative;
            z-index: 11;

            @media (max-width: 1200px) {
                padding-left: 40px;
            }

            @media (max-width: 991px) {
                padding-left: 8px;
                max-width: 100%;
            }

            h3 {
                color: var(--black);
                margin-bottom: 15px;

                @media (max-width: 768px) {
                    margin-bottom: 10px;
                }
            }

            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                color: var(--paragaraph);
            }

            .working-steps {
                padding-left: 28px;

                li {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 140%;
                    letter-spacing: -2%;
                    margin-bottom: 14px;
                    position: relative;
                    color: var(--paragaraph);

                    &::before {
                        content: "";
                        position: absolute;
                        left: -27px;
                        top: 3px; // Adjust based on text alignment
                        width: 15px;
                        height: 15px;
                        background-image: url("../../../assets/images/check.png");
                        background-repeat: no-repeat;
                        background-size: contain;
                    }
                }
            }
        }

        .image {
            max-width: 576px;
            width: 100%;
            padding: 10px;
            background: var(--white);
            border-radius: 20px;
            position: relative;
            z-index: 11;

            @media (max-width: 991px) {
                max-width: 100%;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 12px;
                min-height: 425px;

                @media (max-width: 1200px) {
                    min-height: 325px;
                }

                @media (max-width: 991px) {
                    min-height: 225px;
                }
            }
        }

        .ellipse {
            width: 2638px;
            height: 702px;
            opacity: 0.56;
            background: linear-gradient(2.46deg, #EEFFF7 3.83%, #E9FFF5 57.8%, #14C878 108.12%);
            filter: blur(114px);
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

/* =========================
    HOW IT WORK Area END
========================= */

/* =========================
    GROUP Area START
========================= */
section.group-section {
    .group-card {
        padding: 40px;
        border-radius: 30px;
        background: var(--bg_color);

        .icon-wrapper {
            margin-bottom: 76px;

            img {
                width: 40px;
                height: 40px;
                object-fit: contain;
            }
        }

        h3 {
            max-width: 70%;
            color: var(--black);
            margin-bottom: 15px;

            @media (max-width: 768px) {
                margin-bottom: 10px;
            }
        }

        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            color: var(--paragaraph);
            margin-bottom: 26px;
        }
    }
}

/* =========================
    GROUP Area END
========================= */

/* =========================
    FOOTER Area START
========================= */
footer.footer-area {
    overflow: hidden;

    .footer-cta {
        padding: 130px 0 90px;
        position: relative;

        @media (max-width: 1024px) {
            padding: 100px 0 80px;
        }

        @media (max-width: 768px) {
            padding: 60px 0 60px;
        }

        .section-title {
            max-width: 720px;
            margin: 0 auto 30px;
        }

        .subscribe-form {
            max-width: 374px;
            display: flex;
            align-items: start;
            column-gap: 8px;
            justify-content: center;
            margin: auto;

            @media (max-width: 375px) {
                flex-direction: column;
                align-items: center;
                row-gap: 15px;
            }

            input {
                padding: 12px 20px;
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                height: 46px;
                border: 1px solid var(--border_color);
                border-radius: 23px;
                color: var(--black);
                max-width: 250px;
                width: 100%;

                &::placeholder {
                    color: var(--black);
                }

                @media (max-width: 375px) {
                    max-width: 100%;
                }
            }
        }

        .ellipse {
            width: 2638px;
            height: 702px;
            opacity: 0.56;
            background: linear-gradient(2.46deg, #EEFFF7 3.83%, #E9FFF5 57.8%, #14C878 108.12%);
            filter: blur(200px);
            position: absolute;
            top: -165px;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
        }
    }

    .footer-content {
        background: #FFFDFD;
        border: 1px solid var(--primary-color);
        border-radius: 20px;
        box-shadow: 0px 4px 104px 17px #3DA27E26;
        margin: 0 30px 30px 30px;

        @media (max-width: 768px) {
            margin: 0 15px 15px 15px;
        }

        .top-content {
            padding: 130px 130px 0 130px;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            @media (max-width: 1800px) {
                padding: 130px 100px 0 100px;
            }

            @media (max-width: 1600px) {
                padding: 100px 70px 0 70px;
            }

            @media (max-width: 1340px) {
                padding: 80px 40px 0 40px;
            }

            @media (max-width: 1340px) {
                column-gap: 30px;
            }

            @media (max-width: 1024px) {
                flex-direction: column;
                row-gap: 10px;
            }

            @media (max-width: 768px) {
                padding: 40px 20px 0 20px;
            }

            .left-side {
                max-width: 680px;

                @media (max-width: 1600px) {
                    max-width: 580px;
                }

                @media (max-width: 1340px) {
                    max-width: 510px;
                }

                .logo {
                    img {
                        max-height: 62px;
                        max-width: 362px;

                        @media (max-width: 768px) {
                            max-width: 100%;
                        }

                        @media (max-width: 576px) {
                            max-width: 220px;
                        }
                    }

                    display: inline-block;
                    margin-bottom: 30px;

                    @media (max-width: 768px) {
                        margin-bottom: 20px;
                    }
                }

                p {
                    color: var(--paragaraph);
                }
            }

            .right-side {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                column-gap: 20px;
                flex-wrap: wrap;
                max-width: 740px;
                width: 100%;

                @media (max-width: 1800px) {
                    max-width: 640px;
                }


                @media (max-width: 1500px) {
                    max-width: 540px;
                }

                @media (max-width: 1024px) {
                    max-width: 100%;
                }

                @media (max-width: 576px) {
                    flex-direction: column;
                    row-gap: 40px;
                }

                .footer-nav {
                    .nav-title {
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 140%;
                        letter-spacing: -2%;
                        margin-bottom: 30px;
                        display: block;
                        color: var(--black);
                    }

                    .navs {
                        display: flex;
                        flex-direction: column;
                        row-gap: 16px;

                        .nav-links {
                            a {
                                font-weight: 500;
                                font-size: 18px;
                                line-height: 140%;
                                letter-spacing: -2%;
                                color: var(--paragaraph);
                            }
                        }
                    }
                }
            }
        }

        .footer-middle {
            text-align: center;

            img {
                max-height: 390px;
            }


            @media (max-width: 576px) {
                padding: 0 10px;
                margin-top: 10px;
            }
        }

        .footer-bottom {
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 32px 10px;
            border-top: 1px solid var(--border_color);
            column-gap: 4px;
            flex-wrap: wrap;

            p {
                font-weight: 500;
                font-size: 18px;
                line-height: 140%;
                letter-spacing: -2%;
                text-align: center;
                color: var(--black);
                margin-bottom: 0;
            }

            a {
                font-weight: 500;
                font-size: 18px;
                line-height: 140%;
                letter-spacing: -2%;
                text-decoration: underline;
                text-decoration-style: solid;
                color: var(--primary-color);
            }
        }
    }
}

/* =========================
    FOOTER Area END
========================= */

/* =========================
    FEATURES Area START
========================= */
section.features-section {
    background: var(--black);
    padding: 160px 0;

    @media (max-width: 1200px) {
        padding: 120px 0;
    }

    @media (max-width: 991px) {
        padding: 80px 0;
    }

    @media (max-width: 768px) {
        padding: 60px 0;
    }

    .container {
        position: relative;
        z-index: 11;
    }

    .section-title {
        margin-bottom: 20px;
    }

    .features-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        position: relative;
        z-index: 11;

        @media (max-width: 991px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 576px) {
            grid-template-columns: repeat(1, 1fr);


        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            height: 100%;
            left: 33%;
            width: 2px;
            // background: linear-gradient(270deg, #01040A 4.82%, #4A5262 54.99%, #01040A 96.16%);
            background: linear-gradient(180deg, #01040A 4.82%, #4A5262 54.99%, #01040A 96.16%);

            @media (max-width: 991px) {
                left: 50%;
            }

            @media (max-width: 576px) {
                display: none;
            }
        }

        &::after {
            left: 66%;

            @media (max-width: 991px) {
                display: none;
            }
        }

        .vertial-line,
        .vertial-line2 {
            position: absolute;
            height: 2px;
            left: 0;
            width: 100%;
            background: linear-gradient(270deg, #01040A 4.82%, #4A5262 54.99%, #01040A 96.16%);
            top: 50%;
            transform: translateY(-50%);

            @media (max-width: 991px) {
                top: 33%;
            }

            @media (max-width: 576px) {
                display: none;
            }
        }

        .vertial-line2 {
            display: none;

            @media (max-width: 991px) {
                display: block;
                top: 66%;
            }

            @media (max-width: 576px) {
                display: none;
            }
        }

        .dot1,
        .dot2 {
            position: absolute;
            width: 20px;
            height: 20px;
            background-color: var(--primary-color);
            border-radius: 100%;
            top: 50%;
            left: 33%;
            transform: translate(-50%, -50%);
            z-index: 11;

            @media (max-width: 991px) {
                top: 33%;
                left: 50%;
            }

            @media (max-width: 576px) {
                display: none;
            }
        }

        .dot2 {
            left: 66%;

            @media (max-width: 991px) {
                top: 66%;
                left: 50%;
            }
        }


    }

    .features-card {
        padding: 85px 38px 85px 38px;
        display: flex;
        flex-direction: column;
        row-gap: 125px;
        align-items: flex-start;
        position: relative;
        z-index: 111;

        @media (max-width: 1200px) {
            padding: 60px 30px;
            row-gap: 80px;
        }

        @media (max-width: 576px) {
            padding: 30px 20px;
            row-gap: 30px;

            &:not(:last-child)::after {
                content: '';
                position: absolute;
                height: 2px;
                left: 0;
                bottom: 0;
                width: 100%;
                background: linear-gradient(270deg, #01040A 4.82%, #4A5262 54.99%, #01040A 96.16%);
            }

        }

        .icon-wrapper {
            width: 40px;
            height: 40px;

            img {
                width: 40px;
                height: 40px;
                object-fit: contain;
            }
        }

        .content {
            h3 {
                color: var(--white);
                margin-bottom: 15px;
                max-width: 70%;

                @media (max-width: 1200px) {
                    font-size: 20px;
                }

                @media (max-width: 768px) {
                    margin-bottom: 10px;
                }

                @media (max-width: 576px) {
                    max-width: 100%;
                }
            }

            p {
                color: #FFFDFD;
                max-width: 295px;
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                margin-bottom: 0;

                @media (max-width: 1200px) {
                    font-size: 14px;
                }
            }
        }
    }

    .bg-img {
        position: absolute;
        top: 100px;
        right: 100px;
        bottom: 0;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            opacity: 10%;
        }
    }
}

/* =========================
    FEATURES Area END
========================= */


/* =========================
    PRICING  Area START
========================= */
section.pricing-plan {
    background: var(--bg_color);
    position: relative;
    overflow: hidden;

    .container {
        position: relative;
        z-index: 11;
    }

    .default-row-gap {
        margin-bottom: 24px;
    }

    .pricing-card {
        background: var(--white);
        border-radius: 20px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        transition: transform 0.3s ease;
        position: relative;
        height: 100%;

        &.featured {
            &::before {
                content: "";
                position: absolute;
                width: 795px;
                height: 308px;
                top: -25px;
                left: -137px;
                background: linear-gradient(2.46deg, #EEFFF7 3.83%, #E9FFF5 57.8%, #14C878 108.12%);
                filter: blur(90px);
            }
        }

        // Top section with tints
        .card-header-top {
            padding: 35px;
            border-bottom: 2px solid var(--border_color);
            margin-bottom: 35px;
            position: relative;
            z-index: 11;

            @media (max-width: 1200px) {
                padding: 30px 30px 20px 30px;
            }

            @media (max-width: 1024px) {
                padding: 30px 30px 20px 30px;
                margin-bottom: 25px;
            }


        }

        .icon-box {
            width: 24px;
            height: 24px;
            margin-bottom: 15px;

            img {
                width: 24px;
                height: 24px;
                object-fit: contain;
            }
        }

        .plan-name {
            font-weight: 500;
            font-size: 18px;
            line-height: 140%;
            letter-spacing: -2%;
            color: var(--black);
            margin-bottom: 7px;
        }

        .plan-desc {
            color: var(--paragaraph);
            margin-bottom: 10px;
            min-height: 44px;
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            max-width: 90%;

            @media (max-width: 1200px) {
                max-width: 100%;
            }
        }

        .price {
            font-weight: 500;
            font-size: 40px;
            line-height: 120%;
            letter-spacing: -4%;
            color: var(--black);
            display: flex;
            align-items: center;
            column-gap: 5px;

            span {
                color: var(--paragaraph);
                display: inline-block;
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
            }
        }

        .primary-btn {
            box-shadow: 0px 12px 34px 0px #4E4E504D;
        }

        .card-body-content {
            padding: 0 30px 40px;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            position: relative;
            z-index: 11;
            justify-content: space-between;
            row-gap: 55px;

            @media (max-width: 1200px) {
                padding: 0 30px 30px;
            }
        }

        .feature-list {
            list-style: none;

            li {
                img {
                    width: 15px;
                    height: 15px;
                    object-fit: contain;
                    margin-top: 5px;
                }

                margin-bottom: 20px;
                position: relative;
                color: var(--black);
                display: flex;
                align-items: flex-start;
                gap: 10px;
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
            }
        }

        // Horizontal Layout for bottom cards
        &.horizontal {
            flex-direction: row;
            padding: 30px;
            gap: 20px;

            .card-left {
                width: 55%;
            }

            .card-right {
                width: 45%;
                display: flex;
                flex-direction: column;
                row-gap: 20px;
            }

            @media (max-width: 1200px) {
                flex-direction: column;

                .card-left,
                .card-right {
                    width: 100%;
                }
            }

            @media (max-width: 768px) {
                flex-direction: column;

                .card-left,
                .card-right {
                    width: 100%;
                    border-left: none;
                    padding-left: 0;
                }
            }
        }
    }

    .ellipse {
        position: absolute;
        width: 2638px;
        height: 925px;
        top: -255px;
        left: -410px;
        opacity: 0.56;
        background: linear-gradient(2.46deg, #EEFFF7 3.83%, #E9FFF5 57.8%, #14C878 108.12%);
        filter: blur(184px);
    }
}

/* =========================
    PRICING  Area END
========================= */

/* =========================
    FAQ Area START
========================= */
// Custom Accordion Styling
.accordion-custom {
    .accordion-item {
        border: 1px solid var(--border_color);
        border-radius: 16px !important;
        margin-bottom: 14px;
        overflow: hidden;
        transition: all 0.3s ease-in-out;

        // Active state styling
        &:has(.show) {
            border-color: var(--button_color) !important;
            // box-shadow: 0 10px 25px rgba(var(--secondary-color), 0.1);
        }
    }

    .accordion-button {
        padding: 20px 30px;
        color: var(--black);
        background-color: var(--white);
        box-shadow: none;
        font-weight: 500;
        font-size: 18px;
        line-height: 140%;
        letter-spacing: -2%;

        &:not(.collapsed) {
            color: var(--black);
            background-color: var(--white);
            padding-bottom: 11px;
        }

        // Custom Icons (Plus/Close)
        &::after {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2301040A'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E");
            background-size: 1.5rem;
            transition: transform 0.3s ease;
        }

        &:not(.collapsed)::after {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%239593FF'%3E%3Cpath d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
            transform: rotate(0deg); // We use a specific 'X' icon instead of rotating the arrow
        }
    }

    .accordion-body {
        padding: 0 30px 30px 30px;
        color: var(--paragraph);
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;

    }
}

/* =========================
    FAQ Area END
========================= */


/* =========================
    TESTIMONIALS Area START
========================= */

.testimonials-area {
    background: var(--black);
    position: relative;

    .swiper-wrapper {
        width: calc(100% - 224px);
        overflow: hidden;

        @media (max-width: 1400px) {
            width: calc(100% - 150px);
        }

        @media (max-width: 1200px) {
            width: calc(100% - 100px);
        }

        @media (max-width: 991px) {
            width: 100%;
        }

        .swiper-slide {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .testimonicard {
        display: flex;
        align-items: flex-start;
        column-gap: 40px;
        padding: 8px;
        border: 1px solid #202125;
        border-right: none;
        background: #131417;
        width: calc(100% - 224px);

        @media (max-width: 1400px) {
            width: calc(100% - 150px);
            column-gap: 20px;
        }

        @media (max-width: 1200px) {
            width: calc(100% - 100px);
        }

        @media (max-width: 991px) {
            width: 100%;
            border-right: 1px solid #202125;
            border-bottom: none;
        }

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 15px;
        }

        .image {
            width: 40%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            @media (max-width: 1400px) {
                width: 30%;
            }

            @media (max-width: 991px) {
                width: 40%;
            }

            @media (max-width: 768px) {
                width: 150px;

                img {
                    width: 150px;
                    height: 150px;
                    border-radius: 100%;
                }
            }
        }

        .content {
            padding: 60px 20px 30px 0px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            max-width: 535px;
            height: stretch;

            @media (max-width: 1200px) {
                padding: 20px 20px 20px 0px;
            }

            @media (max-width: 991px) {
                width: 60%;
            }

            @media (max-width: 768px) {
                text-align: center;
                justify-content: center;
                align-items: center;
                width: 100%;
                padding-right: 0;
            }

            .description {
                color: var(--white);
                font-weight: 500;
                font-size: 18px;
                line-height: 140%;
                letter-spacing: -2%;

                @media (max-width: 1200px) {
                    font-size: 16px;
                    font-weight: 400;
                }

            }

            .info-text {
                display: flex;
                align-items: center;
                column-gap: 20px;

                @media (max-width: 768px) {
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    row-gap: 20px;
                }

                .name {
                    border-radius: 60px;
                    padding: 10px 20px;
                    background: #18191D;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 140%;
                    color: var(--white);
                    // color: #34363B;
                }

                .position {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 140%;
                    letter-spacing: -2%;
                    color: var(--white);
                }
            }
        }
    }

    .next-prev-button {
        position: absolute;
        top: 0%;
        right: 0;
        border: 1px solid #202125;
        background: #131417;
        height: 100%;
        width: 224px;
        display: flex;
        align-items: center;
        flex-direction: column;

        @media (max-width: 1400px) {
            width: 150px;
        }

        @media (max-width: 1200px) {
            width: 100px;
        }

        @media (max-width: 991px) {
            width: 100%;
            height: 75px;
            position: unset;
            flex-direction: row;
        }

        .swiper-button-next,
        .swiper-button-prev {
            position: unset;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.3s ease-in-out;

            svg {
                display: none;
            }

            @media (max-width: 991px) {
                margin-top: 0;

            }
        }

        .swiper-button-prev {
            border-bottom: 1px solid #202125;

            img {
                transform: rotate(180deg);
            }
        }

        .swiper-button-next {
            @media (max-width: 991px) {
                border-left: 1px solid #202125;
            }
        }
    }


    .bg-img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}

/* =========================
    TESTIMONIALS Area End
========================= */

/* =========================
    PLATFORM Area START
========================= */
.platform-area {
    position: relative;
    overflow: hidden;
    background: var(--bg_color);

    .container {
        position: relative;
        z-index: 11;
    }

    .platform-card {
        border-radius: 24px;
        padding: 40px;
        background: var(--white);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 20px;

        @media (max-width: 1200px) {
            padding: 20px;

        }

        &.padding-8 {
            padding: 13px;

            h3 {
                padding: 0px 40px 40px 40px;

                @media (max-width: 1200px) {
                    padding: 0px 20px 20px 20px;

                }
            }
        }

        .image {
            text-align: center;

            img {
                max-height: 330px;
                width: 100%;
            }
        }

        h3 {
            font-weight: 500;
            font-size: 30px;
            line-height: 120%;
            letter-spacing: -4%;
            color: var(--black);

            @media (max-width: 1200px) {
                font-size: 22px;
            }

            span {
                display: block;
                color: var(--green_tint);
            }
        }
    }

    .ellipse {
        position: absolute;
        width: 2638px;
        height: 925px;
        top: -255px;
        left: -410px;
        opacity: 0.56;
        background: linear-gradient(2.46deg, #EEFFF7 3.83%, #E9FFF5 57.8%, #14C878 108.12%);
        filter: blur(114px);
        z-index: 1;
    }
}

/* =========================
    PLATFORM Area End
========================= */

#smooth-content {
    will-change: transform;
}